*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.video-container{    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
video{
   width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    
}

.glass-effect{

    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);                
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;         
    width: 300px;
    height: 400px;      
    justify-items: center;      
    margin:100px auto;                                                                                                       
}

h2{
    text-align: center;
    margin-top: 20px;
    color: #D9D9D9;
}

input{
    width: 250px;
    height: 30px;
    margin: 10px 25px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    background-color: #935656;
    color: #ffffff;
    margin-top: 60px;
}
input::placeholder{
    color: #D9D9D9;
    opacity: 0.7;
}
button{
    width: 200px;
    height: 30px;
    margin: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #a46060;
    color: #D9D9D9;
    margin: 50px 50px;
}
.pswd{
    margin-top: 20px;
}

.dont-have-account {
    margin-top: -20px;
    text-transform: capitalize;
    color: #7B1E1E;
    cursor: pointer;
}

button:hover{
    background-color: rgba(227, 226, 226, 0.8);
    color: #7B1E1E;
    cursor: pointer;
}

.dont-have-account a:hover{
    color: #D9D9D9;
}