*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.video-container{    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

video{
   width: 100%;
    height: 100%;
    object-fit: cover;
}

.glass-effect{
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);                
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;         
    width: 300px;
    height: 400px;      
    justify-items: center;      
    margin:100px auto;                                                                                                       
}

h2{
    text-align: center;
    margin-top: 20px;
    color: #D9D9D9;
}

input{
    width: 250px;
    height: 30px;
    margin: 10px 25px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    background-color: rgb(195, 193, 193);
    color: #0b0b0b;
    margin-top: 60px;
}
input::placeholder{
    color: #0f0f0f;
    opacity: 0.7;
}
button{
    width: 200px;
    height: 30px;
    margin: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #9d9797;
    color: #000000;
    margin: 50px 50px;
    text-transform: capitalize;
}
.email{
    margin-top: 20px;
}
.pswd{
    margin-top: 20px;
}

.chk{
    margin-top: 5px;
    margin-left: -90px;
}
input[type="checkbox"] {
    transform: scale(0.6);
}
label{

    color: #D9D9D9;
    margin-left: -130px;
    font-size: 14px;
    margin-top: -20px;
}

button:hover{
    background-color: rgba(149, 124, 124, 0.8);
    color: #7B1E1E;
    cursor: pointer;
}